*{margin:0;padding:0;box-sizing: border-box;}
header{position: relative;}
.headtext{position: absolute;top: 50%;left:50%; transform:translate(-50%,-50%);width: 100%;color:white;}
.headtext h1{font-size: 6vw;text-align: center;font-weight: 700; text-shadow: 3px  3px 4px #000; }
.headtext p{font-size:2.5vw;}
.headtext .heading h1:hover{color:#ffc107;}
.search{padding:20px;padding-right:60px;margin-top:-40px;background-color:white;z-index:999;width:72%;}
.sub_navbar{font-size: 20px;text-decoration: none;
            font-family: roboto;
	        font-size: 20px;
	        text-transform: uppercase;
	        font-weight: bold;
            color:#09c6f9  !important;

}
a:hover{text-decoration: none; color:white;}
.bar a{text-decoration: none;}
.box li {list-style: none;margin-left: 90px;margin-top: 16px;}
.box li span{color:#343a40;}
.box{box-shadow: 2px 2px 2px solid black ,-2px -2px 2px solid blue !important; }
.Aboutindia{font-size: 115%;}

.button {
    display: block;
    width: 110px;
    height: 40px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    line-height: 25px;
    background-color: #045de9;
background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

@media (max-width:600px){
    .headtext{position: absolute;top: 50%;left:50%; transform:translate(-50%,-50%);width: 100%;color:white;}
    .headtext h1{font-size: 12vw;text-align: center;font-weight:700; text-shadow: 3px  3px 4px #000; }
    .headtext p{font-size:3.5vw;}
    .bar{text-align: center;}
}
.exp-card:hover{box-shadow: 0px 0px 10px black!important;transform: translateY(-15px);}
.exp-card{transition: all 0.3s ease-in-out!important;}